{% extends "base.html" %}
{% block content %}
    <header>
        <h1>Bienvenido al Sistema de Inventario</h1>
        <p>Este sistema te ayudará a gestionar el inventario de tu negocio de una manera eficiente y organizada.</p>
    </header>

    <section id="about">
        <h2>¿Qué es el Sistema de Inventario?</h2>
        <p>El Sistema de Inventario es una aplicación web diseñada para simplificar el seguimiento y la gestión de los productos en tu negocio. Con esta herramienta, puedes realizar un seguimiento detallado de tus productos, administrar pedidos, gestionar proveedores y mucho más.</p>
    </section>

    <section id="how-it-works">
        <h2>¿Cómo funciona?</h2>
        <p>El funcionamiento del Sistema de Inventario es bastante sencillo:</p>
        <ol>
            <li><strong>Inicio de Sesión:</strong> Para acceder al sistema, simplemente inicia sesión con tu nombre de usuario y contraseña.</li>
            <li><strong>Gestión de Productos:</strong> Una vez dentro, podrás ver todos tus productos, añadir nuevos, actualizar información y eliminar productos si es necesario.</li>
            <li><strong>Control de Inventarios:</strong> El sistema te permite realizar un seguimiento en tiempo real de tu inventario, mostrando la cantidad disponible de cada producto.</li>
            <li><strong>Registro de Ventas y Compras:</strong> Puedes registrar las ventas realizadas y las compras de productos, lo que te ayudará a mantener un historial detallado de transacciones.</li>
            <li><strong>Interfaz Intuitiva:</strong> La interfaz del Sistema de Inventario está diseñada para ser intuitiva y fácil de usar, lo que facilita su adopción y uso diario.</li>
        </ol>
    </section>

    <footer>
        <p>¡Esperamos que el Sistema de Inventario sea una herramienta útil para tu negocio! Si tienes alguna pregunta o necesitas ayuda, no dudes en contactarnos.</p>
    </footer>
    <script src="../static/js/bienvenida.js"></script>

{% endblock %}

