{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Producto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/proveedor.css') }}">
</head>
<body>
    <div class="container">
        <h2>Eliminar Producto</h2>
        <form id="eliminarForm">
            <div class="form-group">
                <label for="id_producto">ID Producto:</label>
                <input type="text" class="form-control" id="id_producto" name="id_producto" placeholder="Ingrese el ID del producto">
            </div>
            <div class="form-group">
                <label for="nombre_producto">Nombre del Producto:</label>
                <input type="text" class="form-control" id="nombre_producto" name="nombre_producto" readonly>
            </div>
            <div class="form-group">
                <label for="precio">Precio:</label>
                <input type="text" class="form-control" id="precio" name="precio" readonly>
            </div>
            <button type="button" class="btn btn-primary" id="seleccionarBtn">Seleccionar</button>
            <button type="button" class="btn btn-danger" id="eliminarBtn" disabled>Eliminar</button>
        </form>
    </div>
    <!-- Bootstrap JS (optional) PRODUCTOS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#seleccionarBtn').click(function() {
                var id_producto = $('#id_producto').val();
                if (id_producto.trim() === '') {
                    alert('Por favor, ingresa el ID del producto.');
                } else {
                    $.ajax({
                        type: 'POST',
                        url: '/producto/buscar_producto',
                        data: {'id_producto': id_producto},
                        dataType: 'json',
                        success: function(response) {
                            if (response.status === 'success') {
                                $('#nombre_producto').val(response.data.nombre_producto);
                                $('#precio').val(response.data.precio);
                                $('#eliminarBtn').prop('disabled', false);
                            } else {
                                alert('Producto no encontrado.');
                            }
                        },
                        error: function(xhr, status, error) {
                            console.error('Error:', error);
                            alert('Error al buscar el producto.');
                        }
                    });
                }
            });

            $('#eliminarBtn').click(function() {
                var confirmacion = confirm('¿Estás seguro de que quieres eliminar este producto?');
                if (confirmacion) {
                    var id_producto = $('#id_producto').val();
                    $.ajax({
                        type: 'POST',
                        url: '/producto/eliminar',
                        data: {'id_producto': id_producto},
                        dataType: 'json',
                        success: function(response) {
                            if (response.status === 'success') {
                                alert(response.message);
                                window.location.reload(); // Recargar la página después de eliminar el producto
                            } else {
                                alert('Error: ' + response.message);
                            }
                        },
                        error: function(xhr, status, error) {
                            console.error('Error:', error);
                            alert('Error al eliminar el producto.');
                        }
                    });
                }
            }); 
        });
    </script>
</body>
</html>
{% endblock %}
